/* added main font color to this so that you don't keep repeating the font colour */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

/* This selects only the h1 in the header element*/
header > h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changed this to another colour so that it stood out as the previous colour was too close to the rest of the h1 colour. I assumed this is what they wanted to happen */
span {
    color: #ede214;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This selects the ul in the nav */
nav ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

/* contains hero image seen below the nav bar and provides is sizing and position*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This selects all the marketing sections and provides them with the same styling - blue boxes and sizing*/
.marketing-sections {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

/* added the img size to the float left and float right instead of if being specified 3 times for each img */
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* changed this to h2 so to ensure DRY code */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This selector provides styling to the content to the right of the marketing section*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
}

/* Added this in so that all the h3 elements under benefits are styled the same without having 3x repeating code - DRY code*/
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Added this in so that all the imgs elements under benefits are styled the same without having 3x repeating code - DRY code*/
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;  
}

/* This selects all child elements in the footer and makes the text black */
footer * {
    color: black
}